Django==5.2.18
djangorestframework==3.18.3
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==26.2
Pillow
python-dotenv==1.0.1
supabase==2.5.0
psycopg2-binary==2.9.9
gunicorn
